@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


@import "tailwindcss";

body{
    font-family: poppins;
}

@theme {
  --color-primary: #5f6FFF;  
  --color-secondary: #eb6bd8;
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));

}


::-webkit-scrollbar{
    @apply hidden;
}